form .errorMessage {
    color: #ff6357;
}

form .error {
    color: #CC0000;
}

form div.success input, form div.success textarea, form div.success select, form input.success, form textarea.success, form select.success {
    background: #E6EFC2;
    border-color: #C6D880;
}

form div.error input, form div.error textarea, form div.error select, form input.error, form textarea.error, form select.error {
    background: #FFEEEE;
    border-color: #CC0000;
}
