<div>
    <div id="sub-container-weather" class="{{cloudyClass}}">
        <header class="header" ng-show="loggedIn">
            <div class="back" ng-click="goToHomepage()">

            </div>

            <div class="logo-long short" ng-click="goToHomepage()">

            </div>
            <div ng-include src="'app/views/settings.html'"></div>
        </header>

        <section class="main" ng-show="loggedIn">

            <div id="occasion" class="typical-header" ng-show="errorMessage == ''">
                SELECT OCCASION
            </div>

            <form class="form" action="" ng-show="errorMessage == ''">
                <ul class="choose-occasion">
                    <li ng-repeat="occasion in occasions | orderBy:occasion.name"
                        ng-click="toggleOccasion(occasion.id)" id="occasion-{{occasion.id}}">{{occasion.name}}
                    </li>
                </ul>
            </form>

        </section>
    </div>
</div>