<header class="wizard">
    <div class="left">

        <div class="back" ng-click="goTo('set-location')">

        </div>
        <div class="logo">

        </div>
    </div>
    <div class="next">

    </div>
</header>

<section class="main">

    <div id="account">
        SELECT YOUR STYLE(S)
    </div>


    <form class="form" action="">
        <ul class="choose-style">
            <li>hipster</li>
            <li>grunge</li>
            <li>preppy</li>
            <li>boho</li>
            <li>minimal</li>
            <li>urban</li>
            <li>trendy</li>
            <li>glam</li>
            <li>sporty</li>
            <li>casual</li>
        </ul>
    </form>

</section>