<header class="wizard">
    <div class="back left" ng-click="goToHomepage()">

    </div>
    <div class="logo left" ng-click="goToHomepage()">

    </div>
</header>

<section class="main" ng-show="loggedIn">

    <div id="future-date" class="typical-header" ng-show="errorMessage == ''">
        SELECT DATE
    </div>

    <form class="form" action="" ng-show="errorMessage == ''">
        <ul class="choose-occasion">
            <li ng-repeat="date in dates"
                ng-click="selectDate(date.id)" id="date-{{date.id}}">{{date.name}}
            </li>
        </ul>
    </form>

</section>
