<div id="sub-container-weather" class="{{location.cloudyClass}}">

    <header class="header" ng-show="loggedIn" ng-animate="'fade'">
        <div class="logo-long">

        </div>
        <div ng-include src="'app/views/settings.html'"></div>
    </header>

    <section class="main" ng-show="loggedIn" ng-animate="'fade'">
        <div id="city">
            {{location.name}}
        </div>
        <div id="weather-conditions">
            {{location.cloudyPhrase}}
        </div>
        <div id="degree">
            {{location.temperature}}
        </div>
        <div id="cloudCover" class="{{location.cloudyClass}}">

        </div>

        <ul class="buttons">
            <li>DRESS FOR TODAY</li>
            <li>DRESS FOR FUTURE</li>
        </ul>


    </section>

</div>