<header class="wizard">
    <div class="left">

        <div class="back" ng-click="goTo('sign-up')">

        </div>
        <div class="logo" ng-click="goToHomepage()">

        </div>
    </div>
    <div class="{{className}}" ng-click="goToNextState()">

    </div>
</header>

<section class="main" id="choose-location">

    <div class="validation-message" ng-show="errorMessage">{{errorMessage}}</div>

    <div id="select-location">
        ENTER YOUR LOCATION
    </div>

    <form class="form" name="setLocationForm">
        <choose-location source="topLocations"></choose-location>
    </form>

</section>