<header class="wizard">
    <div class="left">

        <div class="back" ng-click="goTo('sign-up')">

        </div>
        <div class="logo" ng-click="goToHomepage()">

        </div>
    </div>
    <div class="{{className}}" ng-click="goToNextState()">

    </div>
</header>

<section class="main">

    <div class="validation-message">{{errorMessage}}</div>

    <div id="account">
        ENTER YOUR LOCATION
    </div>

    <form class="form" name="setLocationForm">
        <choose-location source="topLocations"></choose-location>
    </form>

</section>