<header class="wizard">
    <div class="left">

        <div class="back" ng-click="goTo('login')">

        </div>
        <div class="logo">

        </div>
    </div>
    <div class="next">

    </div>
</header>

<section class="main">

    <div id="account">
        ACCOUNT
    </div>

    <form class="form" action="">
        <input type="text" class="text-field username" placeholder="username">
        <input type="password" class="text-field password" placeholder="password">

        <div id="profile">
            PROFILE
        </div>
    </form>

    <form class="facebook-form" action="">
        <div id="facebook">
        </div>
        <input type="text" class="text-field name" placeholder="name">
        <input type="email" class="text-field email" placeholder="email">
    </form>

</section>