<header class="wizard">
    <div class="back left" ng-click="goTo('login')">

    </div>
    <div class="logo left" ng-click="goToHomepage()">

    </div>
</header>

<section class="main">

    <div id="account">
        ACCOUNT
    </div>

    <div class="validation-message">{{errorMessage}}</div>

    <form class="form" name="signUpForm">
        <input type="text" class="text-field username" placeholder="username" ng-model="username" required>
        <input type="password" class="text-field password" placeholder="password" ng-model="password" required>

        <div id="profile">
            PROFILE
        </div>

        <div id="facebook" ng-click="facebookLogin()">
        </div>
        <input type="email" class="text-field email" placeholder="email" ng-model="email" required>
        <input type="text" class="text-field name" placeholder="name" ng-model="name">
        <input type="button" id="sign-up-submit" class="submit-data" ng-click="goNext()" value="REGISTER">
    </form>

</section>