.main-view-enter, .main-view-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.main-view-enter {
    opacity: 0;
}

.main-view-enter.main-view-enter-active {
    opacity: 1;
}

.main-view-leave {
    opacity: 1;
}

.main-view-leave.main-view-leave-active {
    opacity: 0;
    display: none;
}