* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'karlaregular';
	src: url('fonts/karla-regular-webfont.eot');
	src: url('fonts/karla-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/karla-regular-webfont.woff') format('woff'), url('fonts/karla-regular-webfont.ttf') format('truetype'), url('fonts/karla-regular-webfont.svg#karlaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'novecento_widenormal';
    src: url('fonts/novecentowide-normal-webfont.eot');
    src: url('fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-normal-webfont.woff') format('woff'),
         url('fonts/novecentowide-normal-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-normal-webfont.svg#novecento_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-lig-webfont.eot');
    src: url('fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lig-webfont.woff') format('woff'),
         url('fonts/lato-lig-webfont.ttf') format('truetype'),
         url('fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	-webkit-text-size-adjust: none;
	background: #fff;
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-highlight: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: #fff;
	font-family: 'karlaregular', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
    overflow: hidden;
}

body:after {
	content: url(../images/loader.gif) url("../images/form-username.png") url("../images/form-password.png") url("../images/submit.png") url('../images/header.png') url('../images/woman.jpg') url(../images/background.jpg) url(../images/background-clear-morning.jpg) url(../images/background-clear-evening.jpg) url(../images/background-night.png) url(../images/background-cloudy-morning.jpg) url(../images/background-cloudy-day.jpg) url(../images/background-cloudy-evening.jpg) url(../images/background-cloudy-night.jpg) url(../images/background-rainy-morning.jpg) url(../images/background-rainy-morning.jpg) url(../images/background-rainy-day.jpg) url(../images/background-rainy-night.jpg) url("../images/form-username.png") url("../images/arrow.png") url("../images/back.png") url("../images/back-results.png") url("../images/logo.png") url("../images/next.png") url("../images/done.png") url("../images/facebook.png") url("../images/form-name.png") url("../images/form-email.png") url("../images/search-location.png") url('../images/ajax-dropdown.png') url('../images/location-delete.png') url("../images/logo-long.png") url("../images/logo-new.png") url('../images/location-next.png') url('../images/location-previous.png') url("../images/degrees.png") url("../images/partially-cloudy.png") url("../images/sunny.png") url("../images/night.png") url("../images/cloudy.png") url("../images/rain1.png") url("../images/rain2.png") url("../images/settings.png") url("../images/logo-long-result.png") url('../images/shop-look.png') url('../images/gallery-next.png') url('../images/gallery-previous.png');
	display: none;
}

::-webkit-input-placeholder {
	color: #98b6d6;
}

input:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
}

input {
	-webkit-transition: border linear .3s, box-shadow linear .3s;
	-moz-transition: border linear .3s, box-shadow linear .3s;
	-o-transition: border linear .3s, box-shadow linear .3s;
	transition: border linear .3s, box-shadow linear .3s;
	-moz-appearance: none;
	font-family: 'karlaregular', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}

[required] {
	box-shadow: none;
}

input.error,
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
	border: 1px solid #b94a48;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
	color: #b94a48;
	border: 1px solid #b94a48;
}

.left {
	float: left;
}

.right {
	float: right;
}

.validation-message {
	margin: 0 0 7px 82px;
	font-size: 22px;
	opacity: 0;
	min-height: 25px;
	color: #b64747;
    -webkit-transform: translate3d(0px,0px,0px);
}

.validation-message:not(:empty) {
	opacity: 1;
}

#choose-styles .validation-message {
	margin: -40px 0 40px 82px;
}

#choose-location .validation-message {
	margin: -40px 0 40px 82px;
}

.default-location {
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
	width: 640px;
	height: 60px;
	text-transform: uppercase;
}

.default-location-name {
	text-decoration: underline;
	font-size: 26px;
	text-transform: uppercase;
}

.default-location .bigger-font {
	font-size: 30px;
}

.debug {
	text-align: center;
	color: #000;
}

.loading {
	background: transparent url(../images/loader.gif) no-repeat 50% 50%;
	width: 24px;
	height: 24px;
}

#container {
	overflow: hidden;
	background: url(../images/background.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-search-results {
	background: none;
}

#sub-container-weather.clear-morning {
	background: url(../images/background-clear-morning.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.clear-evening {
	background: url(../images/background-clear-evening.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.clear-night {
	background: url(../images/background-night.png) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.cloudy-morning {
	background: url(../images/background-cloudy-morning.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.cloudy-day {
	background: url(../images/background-cloudy-day.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.cloudy-evening {
	background: url(../images/background-cloudy-evening.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.cloudy-night {
	background: url(../images/background-cloudy-night.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.rainy-morning {
	background: url(../images/background-rainy-morning.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.rainy-day {
	background: url(../images/background-rainy-day.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.rainy-evening {
	background: url(../images/background-rainy-evening.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

#sub-container-weather.rainy-night {
	background: url(../images/background-rainy-night.jpg) no-repeat;
	width: 640px;
	height: 1136px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    #container, #sub-container-weather.rainy-night, #sub-container-weather.rainy-evening {
        height: 960px;
    }

    #sub-container-weather.rainy-day, #sub-container-weather.rainy-morning, #sub-container-weather.cloudy-night {
        height: 960px;
    }

    #sub-container-weather.cloudy-evening, #sub-container-weather.cloudy-day, #sub-container-weather.cloudy-morning {
        height: 960px;
    }
}

header.main {
	padding-top: 98px;
	text-align: center;
	margin-bottom: 58px;
}

.text-field {
	background: url("../images/form-username.png") no-repeat;
	width: 388px;
	height: 91px;
    margin: 0 82px 20px 82px;
	font-size: 28px;
	color: #98b6d6;
	padding-left: 86px;
	border: 1px solid transparent;
}

.text-field:focus {
    color: #7294b9;
    background-position: 0 -91px !important;
}

.text-field.username {
	background: url("../images/form-username.png") no-repeat;
}

.text-field.password {
	background: url("../images/form-password.png") no-repeat;
}

.text-field.email {
	background: url("../images/form-email.png") no-repeat;
}

.text-field.name {
	background: url("../images/form-name.png") no-repeat;
}

.text-field.search-location {
    background: url("../images/search-location.png") no-repeat;
}

#forgot a{
	display: block;
	font-size: 25px;
	margin-left: 213px;
	margin-bottom: 53px;
	color: #c6d6e7;
}

.submit-data {
    background: url("../images/submit.png") no-repeat;
    width: 474px;
    height: 95px;
    font-size: 26px;
    margin: 0 83px;
    color: #7b9fc4;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-family: 'novecento_widenormal', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1px;
}

.submit-data:disabled {
    background: url("../images/submit-disabled.png") no-repeat;
}

#sign-up-submit {
    margin-top: 30px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #sign-up-submit {
        margin-top: 0;
    }
}

#set-location-submit {
    margin-top: 30px;
}

#choose-styles-submit {
    margin-top: 30px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #choose-styles-submit {
        margin-top: 10px;
    }
}

.sign-in {
	background: url("../images/submit.png") no-repeat;
	width: 474px;
	height: 95px;
	font-size: 26px;
	margin: 0 83px;
	color: #7b9fc4;
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: 'novecento_widenormal', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 1px;
}

.sign-in:disabled {
}

#sign-up {
	background: url("../images/arrow.png") no-repeat 354px 10px;
	width: 382px;
	height: 25px;
	font-size: 24px;
	color: #c6d6e7;
	margin: 26px 0 0 100px;
}

#sign-up a {
	font-size: 28px;
	color: #ffffff;
	text-decoration: none;
}

#sign-up a:hover {
	text-decoration: underline;
}

#woman-image {
	margin-top: 133px;
}

.back {
	background: url("../images/logo.png") no-repeat;
	width: 87px;
	height: 88px;
	cursor: pointer;
	float: left;
}

.back:hover {
	background-position: 0 -176px;
}

#sub-container-search-results .back {
	background: url("../images/back-results.png");
}

#sub-container-search-results .back:hover {
	background-position: 0 -86px;
}

.logo {
	cursor: pointer;
	width: 553px;
    height: 88px;
    background: url("../images/logo.png") no-repeat -87px 0;
}

.logo:hover {
	background-position: -87px -88px;
}

.logo.choose-occasion {
	background: url("../images/logo.png") !important;
	width: 431px !important;
}

.next {
	background: url("../images/next.png") no-repeat;
	width: 161px;
	height: 86px;
	cursor: pointer;
	float: right;
}

.next:hover {
	background-position: 0 -86px;
}

.done {
	background: url("../images/done.png") no-repeat;
	width: 161px;
	height: 86px;
	cursor: pointer;
	float: right;
}

.done:hover {
	background-position: 0 -86px;
}

.wizard {
	width: 640px;
	height: 88px;
}

.typical-header {
    font-size: 30px;
    font-family: 'novecento_widenormal', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

#account {
	margin: 73px 0 19px 82px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    #account {
        margin: 35px 0 19px 82px;
    }
}

#select-location {
    margin: 60px 0 16px 82px;
}

#select-styles {
    margin: 50px 0 0 82px;
}

#occasion {
    margin: 43px 0 0 161px;
}

.sub-header {
	margin: 19px 0 19px 86px;
	font-size: 24px;
}

#profile {
	margin: 9px 0 0 82px;
}

#facebook {
	margin: 14px 0 18px 82px;
	background: url("../images/facebook.png") no-repeat;
	width: 475px;
	height: 93px;
	cursor: pointer;
}

ul.choose-location {
	overflow: auto;
	height: 300px;
	margin: 21px 0 0 87px;
	width: 467px;
}

ul.choose-location li {
	background: #c4d4e3;
	height: 46px;
	list-style: none;
	font-size: 22px;
	color: #7294b9;
	margin: 0 0 10px 0;
	padding: 22px 0 0 22px;
	cursor: pointer;
	text-transform: lowercase;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	ul.choose-location {
		height: 220px;
	}

	ul.choose-location li {
		height: 42px;
		padding: 16px 0 0 22px;
	}
}

ul.choose-location li:hover {
	background: #dae4ee;
	font-weight: bold;
}

.locations-block {
	position: relative;
}

ul.location-ajax-dropdown {
	position: absolute;
	list-style: none;
	left: 158px;
    top: 91px;
	text-transform: uppercase;
}

ul.location-ajax-dropdown li {
	width: 306px;
	height: 58px;
	color: #7294b9;
	font-size: 22px;
	background: url('../images/ajax-dropdown.png') no-repeat;
	cursor: pointer;
	margin-top: 1px;
	padding: 12px 70px 0 20px;
	border: 1px solid #f3faff;
}

ul.saved-locations {
	overflow: hidden;
	margin-top: 21px;
	margin-left: 82px;
}

ul.saved-locations li {
	background: url('../images/location-bg.png') no-repeat;
    width: 475px;
	height: 83px;
	list-style: none;
	font-size: 28px;
	color: #429d91;
	text-transform: lowercase;
    padding-bottom: 10px;
}

ul.saved-locations li .text {
	display: block;
	overflow: hidden;
	width: 324px;
    height: 33px;
	float: left;
	margin: 24px 0 0 33px;
}

ul.saved-locations li .location-delete {
	display: block;
	float: right;
	width: 118px;
	height: 83px;
	cursor: pointer;
	background: url('../images/location-delete.png') no-repeat;
}

ul.saved-locations li .location-geo-enabled {
	display: block;
	float: right;
	width: 118px;
	height: 83px;
	background: url('../images/location-geo-enabled.png') no-repeat;
}

ul.choose-style {
	overflow: hidden;
	margin-left: 82px;
}

ul.choose-style li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    float: left;
	width: 226px;
	height: 96px;
    margin: 16px 18px 0 0;
    padding-top: 30px;
    background: url('../images/style.png') no-repeat;
	list-style: none;
	font-size: 28px;
	color: #7294b9;
	cursor: pointer;
	text-transform: lowercase;
}

ul.choose-style li.selected {
    background-position: 0 -96px;
    color: #429d91;
}

.logo-long {
	cursor: pointer;
	background: url("../images/logo-long.png") no-repeat;
	width: 518px;
	height: 88px;
	float: left;
}

.logo-long.short {
    width: 431px;
    background-position: -87px 0;
}

.logo-long:hover {
	background-position: 0 -88px;
}

.logo-long.short:hover {
    background-position: -87px -88px;
}

.logo-new {
	cursor: pointer;
	background: url("../images/logo-new.png") no-repeat;
	width: 431px;
	height: 86px;
	margin: 0 0 0 87px;
}

.logo-new:hover {
	background-position: 0 -86px;
}

ul.choose-occasion {
	overflow: hidden;
	margin-left: 82px;
}

ul.choose-occasion li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
	width: 474px;
	height: 97px;
    margin: 16px 18px 0 0;
    padding-top: 30px;
    background: url('../images/occassion.png') no-repeat;
	list-style: none;
	font-size: 28px;
	color: #7294b9;
	cursor: pointer;
	text-transform: lowercase;
}

ul.choose-occasion li.selected {
    background-position: 0 -96px;
    color: #429d91;
}

.header {
	position: relative;
	width: 640px;
	height: 88px;
}

#sub-container-search-results .header {
	margin-bottom: 0;
	height: 86px;
}

#main-home-page {
	position: relative;
    margin-top: 75px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    #main-home-page {
    	position: relative;
        margin-top: 20px;
    }
}

#homepage-location-block {

}

#location-next {
	position: absolute;
	top: 8px;
	left: 550px;
	width: 25px;
	height: 25px;
	background: url('../images/location-next.png') no-repeat 5px 5px;
	cursor: pointer;
}

#location-previous {
	position: absolute;
	top: 8px;
	left: 65px;
	width: 25px;
	height: 25px;
	background: url('../images/location-previous.png') no-repeat 5px 5px;
	cursor: pointer;
}

#city {
    font-family: 'novecento_widenormal', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 40px;
	text-align: center;
    width: 454px;
    height: 96px;
    margin: 0 0 10px 92px;
	text-transform: uppercase;
}

#weather-conditions {
    font-family: 'novecento_widenormal', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 25px;
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#degree {
    font-family: 'latolight', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 75px;
	text-align: center;
	margin-bottom: 10px;
	background: url("../images/degrees.png") no-repeat 360px 9px;
}

.weather-image {
	margin: 0 auto 20px auto;
	width: 440px;
	height: 440px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .weather-image {
        margin: 0 auto;
        -webkit-transform: scale(0.7, 0.7);
        -moz-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
        height: 380px;
    }
}

#cloudCover {
	width: 440px;
	height: 391px;
	background: url("../images/partially-cloudy.png") no-repeat;
}

#cloudCover.clear-day, #cloudCover.clear-evening, #cloudCover.clear-morning {
	width: 432px;
	height: 434px;
	background: url("../images/sunny.png") no-repeat;
}

#cloudCover.clear-night {
	width: 402px;
	height: 400px;
	background: url("../images/night.png") no-repeat;
}

#cloudCover.cloudy-day, #cloudCover.cloudy-evening, #cloudCover.cloudy-morning {
	width: 407px;
	height: 405px;
	background: url("../images/cloudy.png") no-repeat;
}

#cloudCover.rainy-night, #cloudCover.rainy-morning, #cloudCover.rainy-evening {
	width: 403px;
	height: 403px;
	background: url("../images/rain1.png") no-repeat;
}

#cloudCover.rainy-day {
	width: 404px;
	height: 356px;
	background: url("../images/rain2.png") no-repeat;
}

#homepage-buttons {

}

#homepage-buttons input[type=button] {
    margin-bottom: 15px;
}

#homepage-buttons #future-button {
    background: url('../images/submit-disabled.png') no-repeat;
}

.settings {
	background: url("../images/settings.png") no-repeat;
	width: 122px;
	height: 88px;
	cursor: pointer;
	margin: 0;
	float: right;
	outline: none;
}

.settings:focus ul.settings-submenu {
	height: 256px;
}

ul.settings-submenu {
	position: absolute;
	overflow: hidden;
	top: 86px;
	right: 0;
	height: 0;
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	z-index: 100;
}

ul.settings-submenu li {
	background: #fff;
	list-style: none;
	font-size: 20px;
	color: #999999;
	cursor: pointer;
	text-align: right;
	border-bottom: 1px solid #dfe7ee;
	-webkit-opacity: 0.85;
	-moz-opacity: 0.85;
	opacity: 0.85;
}

ul.settings-submenu li:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

ul.settings-submenu li a {
	display: block;
	padding: 34px 40px 0 0;
	width: 215px;
	height: 50px;
	color: #999999;
	text-decoration: none;
}

.logo-long-results {
	background: url("../images/logo-long-result.png") no-repeat;
	width: 553px;
	height: 86px;
	cursor: pointer;
	float: left;
}

.logo-long-results:hover {
	background-position: 0 -86px;
}

.shop-look {
	position: absolute;
	width: 640px;
	height: 86px;
	font-size: 25px;
	font-weight: bold;
	color: #666666;
	margin-top: -86px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	outline: none;
	background: url('../images/shop-look.png') no-repeat;
}

.shop-look div {
	margin-top: 30px;
}

.shop-look:hover {
	color: #333;
}

.shop-look:focus .clothing-items {
	max-height: 700px;
}

.clothing-items {
	position: absolute;
	bottom: 86px;
	left: 0;
	font-weight: normal;
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	max-height: 0;
	overflow: hidden;
	list-style: none;
}

.clothing-items li {
	border-bottom: 1px solid #c8c7c8;
	width: 640px;
	height: 52px;
	text-align: center;
	padding-top: 34px;
	background: #ffffff;
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.clothing-items li:hover {
	-webkit-opacity: 1.0;
	-moz-opacity: 1.0;
	opacity: 1.0;
}

#sub-container-search-results .main {
	position: relative;
}

.gallery {
	background: #fff;
	height: 1008px;
}

.gallery ul {
	white-space: nowrap;
	list-style: none;
}

.gallery ul li {
	display: inline-block;
	width: 640px;
	text-align: center;
	vertical-align: top;
}

.gallery-window {
	position: relative;
	width: 640px;
	height: 1008px;
	overflow: hidden;
}

.gallery-list {
	position: absolute;
	top: 0;
	left: 0;
	transition: left .8s ease;
	-o-transition: left .8s ease;
	-webkit-transition: left .8s ease;
	-moz-transition: left .8s ease;
}

#gallery-copyrights {
	position: absolute;
	bottom: 90px;
	z-index: 99;
	font-size: 14px;
	margin: 4px;
}

#gallery-copyrights a {
	color: #fff;
	text-decoration: none;
}

#gallery-next {
	position: absolute;
	top: 277px;
	left: 547px;
	width: 50px;
	height: 50px;
	background: url('../images/gallery-next.png') no-repeat;
	cursor: pointer;
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
	-webkit-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

#gallery-next:hover {
	-webkit-opacity: 1.0;
	-moz-opacity: 1.0;
	opacity: 1.0;
}

#gallery-previous {
	position: absolute;
	top: 277px;
	left: 43px;
	width: 50px;
	height: 50px;
	background: url('../images/gallery-previous.png') no-repeat;
	cursor: pointer;
	-webkit-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
	-webkit-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

#gallery-previous:hover {
	-webkit-opacity: 1.0;
	-moz-opacity: 1.0;
	opacity: 1.0;
}

#gallery-items {
	position: absolute;
	width: 640px;
	height: 1008px;
	overflow: auto;
	top: 0;
	left: 0;
	background: #fff;
}

#gallery-items li {
	display: inline-block;
	width: 269px;
	text-align: center;
	border-bottom: 1px solid #d1cfcf;
	border-right: 1px solid #d1cfcf;
	padding: 20px;
}

#gallery-items li:nth-child(2n) {
	border-right: 0;
}

#gallery-items li:last-child, #gallery-items li:nth-last-child(2) {
	border-bottom: 0;
}