<header class="wizard">
    <div class="back left" ng-click="goTo('login')">

    </div>
    <div class="logo left" ng-click="goToHomepage()">

    </div>
</header>

<section class="main">

    <div id="forgot-password" class="typical-header">
        FORGOT PASSWORD?
    </div>

    <div id="forgot-password-how">Please choose how you would like to restore your password</div>

    <form class="form" name="forgotPasswordForm">
        <input type="button" id="forgot-password-username" class="submit-data" ng-click="goNext()" value="BY USERNAME or EMAIL">
        <input type="button" id="forgot-password-facebook" class="submit-data" ng-click="gatherFacebookInfo()" value="USING FACEBOOK">
    </form>

</section>